/* *{
    background-color:cyan;
}
 */

 body {
    background-color: #a9d2e3;
 }

button{
    font-size: 30px;

}

#signup{
    background-color: #023047;
    color:#00bbf9
}

h1,h2{
    color: #023047;
}

span{
    color: #84a59d;
}

.tag{
    font-size:13px ;
    background-color: #f28482;
}


.post a{
    color: #8ac926;
}

footer a{
    color: #8ac926;
}