/* .container{
    color:brown;
    font-size: 20px;
    font-weight: bolder;
} */

/*----------------------------------------------------------------*/
p,input,ul{

    font-size: 50px;
}

#para1:hover {
    color: black;
    background: yellow;
    
}
#para2:focus{
    background-color: red;
}

p:nth-child(1){

   background: green;
}