/* body {
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100vh;

}

.centered-div {
     
    width: 300px;
    height: 150px;
    background: red;
} */

/* ---------------------------------------------------------*/


body{
    background: lightblue;
}