body {
    margin: 0px;
}

div {
    height: 200px;
    width: 200px;
}

h1 {
    height: 50px;
    width: 200px;
    background-color: #FB5607;
}


#one {
    background-color:#8338EC ;
    border-style: solid;
    border-width:5px;
    box-sizing:border-box;
    margin: 10px;
}

#two {
    background-color: #3A86FF;
    border-style:dashed double;
    border-color: gray;
    border-width: 10px;
    margin: 5px 200px 5px;

}

#three {
    background-color: #FF006E;
    border: 5px solid yellow;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    margin: 20px 50px 20px 40px;
}

button {
    padding: 10px 20px 10px 40px;
}